.Home {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Rodondo";
  src: url("../Font/Rodondo.otf");
}
.tag {
  font-family: Rodondo;
  letter-spacing: 3px;
  color: white;
  text-align: center;
}
.tag-text {
  font-size: 64px;
}
.con-tag {
  display: flex;
  justify-content: center;
}

/* potrait smartphone */

@media (max-width: 576px) {
  .Home {
    overflow-y: hidden;
  }
}

/* landscape smartphone */

@media (min-width: 576px) {
}

/* tablet */

@media (min-width: 768px) {
}

/* laptop, desktop */

@media (min-width: 992px) {
}

/* laptop,desktop large */

@media (min-width: 1200px) {
}

/* device extra large */

@media (min-width: 1400px) {
}
