.four{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}
.conTeam{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.conImg{
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
.conImg1{
    margin: 0;
    padding: 0;
    width: 33.33%;
    height: 100vh;
}
.conImg2{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    
}
.img1{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: -200px 0;
}
.img2{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.img3{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: -140px 0;
}
.img4{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.img5{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.img6{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: -550px 0px;
}
.img7{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: -225px 0;
}
.titleT{
    position: absolute;
    color: white;
    z-index: 1;
    padding-top: 650px;
    padding-left: 30px;
    text-shadow: 3px 3px #000;
}