.body4{
    height: 100vh;
    overflow: hidden;
}
h1{
    text-align: center;
    padding: 20px;
}

.layer2{
    width: 25%;
    border: 1px solid;
    display: flex;

}
.layer1{
    width: 25%;
    border: 1px solid;
    display: flex;

}
.layer{
    width: 25%;
    border: 1px solid;
    display: flex;
 
 }
.layer4{
    width: 25%;
    border: 1px solid;
    display: flex;

}
.containerTeam{
    border: 1px solid;
    width: 100%;
    height: 100vh;
    display: flex;
}
.l1{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: -580px 0px;
}
.l1:hover{
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-position: 0px 0px;

}